@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #181a2a;
  --color-secondary: #4b6bfb;
  --color-accent: #e8e8ea;
}

* {
  font-family: "Inter Tight", sans-serif;
}
